name: CI

on:
  push:
    branches:
      - master
  repository_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build and deploy
        run: ./infra/build/build.sh ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }}
        env:
          GIT_REPO_URL: 'git@github.com:ScottG489/unified-diff-parser.git'
          RELATIVE_SUB_DIR: 'infra/build'
          DOCKER_IMAGE_NAME: 'scottg489/unified-diff-parser-build:latest'

  build_application:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v1
    - name: Build and deploy
      run: ./build.sh ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.OSSRH_USERNAME_BASE64 }} ${{ secrets.OSSRH_PASSWORD_BASE64 }}
